<button (click)="loginOn.emit(AuthType.Instagram)">
  <img
    width="40"
    height="40"
    draggable="false"
    alt="instagram"
    ngSrc="assets/instagram.png"
  />
</button>

<button (click)="loginOn.emit(AuthType.Google)">Login with Google</button>
<a
  href="https://accounts.google.com/o/oauth2/v2/auth?response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A4000%2Fapi%2Fauth%2Fcallback&scope=profile&client_id=964723558332-f58v3221dm0l4jq3q1arjqiu8kdkur2i.apps.googleusercontent.com"
>
  asd</a
>
