<tui-calendar
  class="calendar"
  [value]="calendarDates"
  [disabledItemHandler]="
    !isEditable ? disabledAllItemsHandler : disabledItemHandler
  "
  [markerHandler]="markerHandler"
  (dayClick)="onDayClick($event)"
></tui-calendar>

<div class="selected-dates">
  @for(calendarDate of calendarDates; track calendarDate.toString()) {
  <div class="preadded-date">
    <span class="date">{{ calendarDate }}</span>

    <tui-multi-select
      [ngStyle]="!isEditable ? { opacity: 0.5 } : { opacity: 1 }"
      [editable]="false"
      [expandable]="false"
      [tuiTextfieldSize]="isMobile() ? 's' : 'm'"
      [tuiTextfieldLabelOutside]="true"
      [formControl]="timesPerDayControl.controls[calendarDate.toString()]"
      [readOnly]="!isEditable"
    >
      <tui-data-list *tuiDataList>
        <tui-opt-group tuiMultiSelectGroup>
          @for(time of timePeriods; track time) {
          <button tuiOption [value]="time">
            {{ time }}
          </button>
          }
        </tui-opt-group>
        <tui-opt-group label="Sith"> </tui-opt-group>
      </tui-data-list>
    </tui-multi-select>
  </div>
  }
</div>

<button
  class="button medium"
  [size]="isMobile() ? 's' : 'm'"
  tuiButton
  appearance="whiteblock"
  (click)="isEditable = !isEditable"
>
  {{ isEditable ? "Save" : "Edit" }}
</button>
