<tui-calendar
  class="calendar"
  [value]="calendarDates"
  [disabledItemHandler]="
    !isEditable ? disabledAllItemsHandler : disabledItemHandler
  "
  [markerHandler]="markerHandler"
  (dayClick)="onDayClick($event)"
></tui-calendar>

<div class="selected-dates">
  @for(control of selectedTimesPerDayControl.controls; track control) {
  @for(formControl of control.controls | keyvalue; track formControl.key) {
  <div class="preadded-date">
    <span class="date">{{ formControl.key }}</span>

    <tui-multi-select
      [ngStyle]="!isEditable ? { opacity: 0.5 } : { opacity: 1 }"
      [editable]="false"
      [expandable]="false"
      [tuiTextfieldSize]="isMobile() ? 's' : 'm'"
      [tuiTextfieldLabelOutside]="true"
      [formControl]="formControl.value"
      [readOnly]="!isEditable"
      [style.width.px]="265"
    >
      <tui-data-list *tuiDataList>
        <tui-opt-group tuiMultiSelectGroup [style.width.px]="265">
          @for(time of timePeriods; track time) {
          <input
            #checkboxRef
            type="checkbox"
            [checked]="time | annCompareTimes : formControl.value"
            (click)="toggleTime(formControl.value, checkboxRef.checked, time)"
          />
          {{ time }}
          }
        </tui-opt-group>
      </tui-data-list>
    </tui-multi-select>
  </div>
  }
  <!--  -->
  }
</div>

<button
  class="button medium"
  [size]="isMobile() ? 's' : 'm'"
  tuiButton
  appearance="whiteblock"
  (click)="isEditable = !isEditable"
>
  {{ isEditable ? "Save" : "Edit" }}
</button>
