@for(appointment of appointments(); track appointment.id) {
<div class="appointment" tuiCardLarge tuiHeader tuiSurface="elevated">
  <div class="appointment-info">
    <span tuiTitle class="subtitle black">
      {{ appointment.service.name }}
      <div class="details">
        <span tuiSubtitle class="text black">{{
          appointment.service.price | tuiAmount : "EUR" | async
        }}</span>
        <div class="date">
          <span tuiSubtitle class="text date">{{
            appointment.timestamp | date
          }}</span>
        </div>
      </div>
    </span>
  </div>

  <div class="appointment-master">
    <tui-avatar
      [size]="'m'"
      [avatarUrl]="appointment.master.avatar || ''"
    ></tui-avatar>
    <span class="text name medium">{{ appointment.master.name }}</span>
  </div>

  <button
    class="decline"
    appearance="glass"
    size="xs"
    tuiButtonClose
    tuiIconButton
    (click)="decline.emit(appointment.id)"
  >
    Close
  </button>
</div>
} @empty {
<div class="empty">
  <tui-icon icon="tuiIconCalendar" size="l"></tui-icon>
  <span class="text">You don't have any appointments yet</span>
</div>
}
