<div tuiSurface class="video-container">
  <video tuiSurfaceLayer autoplay muted loop id="myVideo">
    <source src="assets/home-bg-compressed.mp4" type="video/mp4" />
  </video>

  <div class="content">
    <h2
      class="main-title"
      [style.font-size.px]="responsiveSettings.mainTitle.size"
      tuiTitle="l"
      i18n
    >
      Nails for you
    </h2>
  </div>

  <button
    class="scroll-bottom animate"
    appearance="none"
    tuiIconButton
    iconLeft="tuiIconChevronDown"
    size="l"
    tuiButton
    (click)="scrollTo(about)"
  >
    <!--  -->
  </button>
</div>

<div class="section about" #about>
  <h2
    class="title"
    [style.font-size.px]="responsiveSettings.secondaryTitle.size"
    tuiTitle="l"
    i18n
  >
    Who am I?
  </h2>

  <div class="description">
    <p i18n [style.font-size.px]="responsiveSettings.text.size">
      I am a professional nail technician. I use only high-quality products and
      tools to ensure the best results. My goal is to make every client feel
      beautiful and confident with their nails.
    </p>
    <a routerLink="/about" tuiLink i18n>More about me...</a>
  </div>

  <!-- <img
    class="subbg"
    ngSrc="assets/subbg.png"
    alt=""
    [width]="isMobile() ? 300 : 700"
    [height]="isMobile() ? 200 : 450"
  /> -->
</div>

<div class="section apply-for-service">
  <h2
    class="title"
    [style.font-size.px]="responsiveSettings.secondaryTitle.size"
    tuiTitle="l"
    i18n
  >
    Apply for service right now
  </h2>

  <ann-service-application-form
    [services]="servicesService.services$ | async"
    [requestInProgress]="!!(servicesService.requestInProgress$ | async)"
    (send)="applyForService($event)"
  >
  </ann-service-application-form>
</div>

<div class="section about-app">
  <strong class="title tui-text_body-xl">
    Get more experience with our application and telegram bot.
  </strong>

  <div class="row">
    <div class="column">
      <button
        tuiButton
        [size]="isMobile() ? 's' : 'm'"
        type="button"
        (click)="show()"
      >
        Install the app
      </button>
    </div>
    <div class="column">
      <button
        tuiButton
        [size]="isMobile() ? 's' : 'm'"
        type="button"
        (click)="openTg()"
      >
        Use telegram bot
      </button>
    </div>
  </div>
</div>

<div class="section map">
  <h2
    class="title"
    [style.font-size.px]="responsiveSettings.secondaryTitle.size"
    tuiTitle="l"
    i18n
  >
    Find us
  </h2>
  <address>London, Cherry street, №17</address>
  <ann-map> </ann-map>
</div>
