.video-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.main-title {
  width: max-content;
}

#myVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.scroll-bottom {
  width: max-content;
  font-size: 34px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f1f1f1;
  transition: 0.3s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.scroll-bottom.animate {
  animation: bounce 2s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

.section {
  padding: 150px 0;
  background-color: #f1f1f1;
}

.apply-for-service {
  .title {
    text-align: center;
    margin-bottom: 130px;
  }
}

// Mobile

:host.mobile {
  #myVideo {
    object-position: 72%;
  }

  .section {
    padding: 90px 0;
  }

  .apply-for-service {
    .title {
      margin-bottom: 90px;
    }
  }
}
