@import "../../../../styles/typography.scss";

.main-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 98%;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(168, 168, 168);
  }
}

.user-name {
  font-size: 20px;
  line-height: 26px;
}
