<div tuiMode="onDark" tuiSurface class="main-info blur">
  <div class="avatar-control">
    <tui-avatar [size]="'xxl'" [src]="userData().avatar || ''"></tui-avatar>
    <div class="update-avatar">
      <button
        class="button-add"
        (click)="filePicker.click()"
        iconLeft="tuiIconPlus"
        tuiButton
      >
        <!-- + -->
      </button>
      <input #filePicker type="file" (change)="onLoadAvatar($event)" />
    </div>
  </div>
  @if(isMobile()) {
  <h3 class="title">{{ userData().name }}</h3>
  }
  <div class="user-data">
    @if(!isMobile()) {
    <h3 class="title">{{ userData().name }}</h3>
    }

    <h3 class="subtitle black">Your data</h3>
    <p class="text gray">Add information to apply for service in one click</p>
    <ng-content></ng-content>
  </div>
</div>
