<form class="b-form" [formGroup]="formModel">
  <tui-input
    [tuiTextfieldSize]="isMobile() ? 'm' : 'l'"
    [disabled]="!isEditable"
    [readOnly]="!isEditable"
    [required]="true"
    class="control"
    [formControl]="emailControl"
  >
    Email
    <input tuiTextfield type="email" />
  </tui-input>

  <tui-input-phone-international
    [tuiTextfieldSize]="isMobile() ? 'm' : 'l'"
    class="control"
    [disabled]="!isEditable"
    [readOnly]="!isEditable"
    [formControl]="phoneControl"
    [countries]="(countries | tuiSortCountries | async) || []"
    [(countryIsoCode)]="countryIsoCode"
    i18n
  >
    Type your number
  </tui-input-phone-international>

  <button
    class="button medium"
    tuiButton
    [size]="isMobile() ? 's' : 'm'"
    appearance="whiteblock"
    (click)="toggle()"
  >
    {{ isEditable ? "Save" : "Edit" }}
  </button>
</form>
