<form class="b-form" [formGroup]="formModel">
  <tui-input
    [style.width.px]="responsiveSettings.control.width"
    [disabled]="!isEditable"
    [readOnly]="!isEditable"
    [required]="true"
    class="control"
    [formControl]="emailControl"
  >
    Email
    <input tuiTextfield type="email" />
  </tui-input>

  <tui-input-phone-international
    [style.height.px]="30"
    [style.width.px]="responsiveSettings.control.width"
    class="control"
    [disabled]="!isEditable"
    [readOnly]="!isEditable"
    [formControl]="phoneControl"
    [countries]="(countries | tuiSortCountries | async) || []"
    [(countryIsoCode)]="countryIsoCode"
    i18n
  >
    Type your number
  </tui-input-phone-international>
</form>

<button (click)="toggle()">{{ isEditable ? "Save" : "Edit" }}</button>
