@import "../../../styles/typography.scss";

.main {
  display: flex;
  position: relative;
  z-index: 0;
}

.content {
  width: max-content;
}

// Mobile

:host.mobile {
  .content {
    padding: 10px 20px;
    width: 100%;
  }
}
