<header class="header" tuiNavigationHeader [style.position]="'sticky'">
  <nav class="navigation" tuiNavigationNav [style.background]="'inherit'">
    <tui-tabs
      class="tabs"
      [underline]="false"
      tuiFade
      [activeItemIndex]="initialActiveTabItemIndex"
      [style.margin-inline-end.rem]="0"
    >
      <button class="logo" tuiTab [routerLink]="MainRoute.Home">
        <span tuiFade>{{ Logo }}</span>
      </button>

      <hr />

      <div class="nav-items">
        @if(isMobile() && !isMobilePlatform) {
        <tui-hosted-dropdown #menu [content]="navs">
          <button iconLeft="tuiIconMoreHorizontal" tuiIconButton>More</button>
          <ng-template #navs>
            <tui-data-list size="s">
              @for(nav of headerService.navigationItems; track nav.title) {
              <button
                (click)="menu.close()"
                [style.color]="'white'"
                tuiTab
                [routerLink]="nav.link"
              >
                {{ nav.title }}
              </button>
              }
            </tui-data-list>
          </ng-template>
        </tui-hosted-dropdown>
        } @else if (!isMobile()) {
        <!--  -->
        @for(nav of headerService.navigationItems; track nav.title) {
        <button tuiTab [routerLink]="nav.link">
          {{ nav.title }}
        </button>
        }
        <!--  -->
        }
      </div>

      <!-- <button iconLeft="tuiIconBell" tuiIconButton>
    Notifications
    <tui-badge-notification></tui-badge-notification>
  </button> -->

      @if(headerService.isAuthorized$$ | async) {
      <p class="admin-v text white">Admin version</p>
      }
      <!--  -->
      @if(authButtonContent$$ | async; as authButtonContent ) {
      @if(authButtonContent !== null) {
      <button tuiTab tuiButton [routerLink]="authButtonContent.link">
        {{ authButtonContent.title }}
      </button>
      }
      <!--  -->
      } @else if(!isMobile() && (headerService.isAuthorized$$ | async)) {
      <button tuiTab tuiButton (click)="logout()">Log out</button>
      }
      <!--  -->
      @if(headerService.isAuthorized$$ | async) {
      <button tuiTab>
        <tui-avatar
          avatarUrl="tuiIconUser"
          class="user-profile avatar"
          [routerLink]="MainRoute.UserProfile"
          routerLinkActive="active"
          size="s"
        ></tui-avatar>
      </button>
      }
    </tui-tabs>
  </nav>
</header>
