<header tuiNavigationHeader [style.position]="'sticky'">
  <span tuiNavigationLogo>
    <span tuiFade>Annushka nails</span>
  </span>

  <hr />

  <nav class="navigation" tuiNavigationNav [style.background]="'inherit'">
    <tui-tabs tuiFade [activeItemIndex]="initialActiveTabItemIndex">
      @for(nav of headerService.navigationItems; track nav.title) {
      <button tuiTab [routerLink]="nav.link">{{ nav.title }}</button>
      }
    </tui-tabs>
  </nav>

  <button iconLeft="tuiIconBell" tuiIconButton>
    Notifications
    <tui-badge-notification></tui-badge-notification>
  </button>

  @if(authButtonContent$$ | async; as authButtonContent ) {
  @if(authButtonContent !== null) {
  <button tuiButton [routerLink]="authButtonContent.link">
    {{ authButtonContent.title }}
  </button>
  } } @else if(headerService.isAuthorized$$ | async) {
  <button tuiButton (click)="logout()">Log out</button>
  } @if(headerService.isAuthorized$$ | async) {
  <tui-avatar
    avatarUrl="tuiIconUser"
    class="user-profile avatar"
    routerLink="/user-profile"
    routerLinkActive="active"
    src="AI"
  ></tui-avatar>
  }
  <!-- [avatarUrl]="wrongUrl" -->
</header>
