@import "../../styles/typography.scss";

.header {
  padding: 0;

  .logo {
    font-weight: 600;
  }

  .admin-v {
    margin-left: 15px;
  }

  .navigation {
    width: 100%;
    margin: 0;

    .tabs {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

.user-profile:not(.active) {
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: var(--tui-text-02);
    color: var(--tui-text-03-night);
  }

  &:active {
    background-color: var(--tui-text-03);
  }
}

:host.mobile {
  .header {
    .navigation {
      padding: 0 8px;
    }
  }
}
