.navigation {
  margin: 0;
}

.user-profile:not(.active) {
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: var(--tui-text-02);
    color: var(--tui-text-03-night);
  }

  &:active {
    background-color: var(--tui-text-03);
  }
}
