<ann-progress-bar [progress]="formCompleteProgress"></ann-progress-bar>

<tui-loader
  [inheritColor]="true"
  [overlay]="true"
  [showLoader]="!!(isLoading$$ | async)"
>
  <form class="controls">
    <tui-input
      #usernameControlRef
      [tuiTextfieldSize]="isMobile() ? 'm' : 'l'"
      class="b-form control username"
      autocomplete="current-password"
      [formControl]="usernameControl"
      [tuiTextfieldCustomContent]="
        !usernameControlRef.touched
          ? ''
          : usernameControlRef.valid
          ? success
          : error
      "
    >
      Username
    </tui-input>

    <tui-input-password
      #passwordControlRef
      [tuiTextfieldSize]="isMobile() ? 'm' : 'l'"
      autocomplete="current-password"
      class="b-form control"
      [pattern]="PasswordRegexp"
      [formControl]="passwordControl"
      [tuiTextfieldCustomContent]="
        !passwordControlRef.touched
          ? ''
          : passwordControlRef.valid
          ? success
          : error
      "
    >
      Type password
    </tui-input-password>

    <button
      appearance="whiteblock"
      [tuiTextfieldSize]="isMobile() ? 'm' : 'l'"
      tuiButton
      type="button"
      [disabled]="formModel.invalid"
      (click)="onLogin(AuthType.Manual)"
    >
      Sign In
    </button>
  </form>
</tui-loader>

<ann-login-variants (loginOn)="onLogin($event)"></ann-login-variants>

<ng-template #success>
  <tui-svg src="tuiIconCheck" class="success tui-space_left-3"></tui-svg>
</ng-template>

<ng-template #error>
  <tui-svg src="tuiIconCheck" class="fail tui-space_left-3"></tui-svg>
</ng-template>
