.control-wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;

  .control {
    width: 100%;
  }

  .hide-pass-icon {
    cursor: pointer;
    opacity: 0.5;

    &.active {
      opacity: 1;
    }
  }
}
