<div class="control-wrapper">
  <input
    [type]="_isPasswordVisible ? 'text' : 'password'"
    [placeholder]="placeholder"
    autocomplete="current-password"
    name="control"
    class="control"
    [value]="_value"
    (input)="onInput($any($event.target))"
  />
  <tui-icon
    [ngClass]="{ active: _isPasswordVisible }"
    class="hide-pass-icon"
    [icon]="
      'https://raw.githubusercontent.com/MarsiBarsi/readme-icons/main/github.svg'
    "
    (click)="toggleVisibility()"
  ></tui-icon>
</div>
