<ann-profile-main class="section" [userData]="userData()!">
  <ann-user-data-form
    [userData]="userData()!"
    (update)="userService.updateUserData($event)"
    class="user-form"
  ></ann-user-data-form>
</ann-profile-main>

<div class="section edit-schedule">
  <h3 class="section-title subtitle black">Edit schedule</h3>
  <ann-edit-schedule
    [adoptedSchedule]="scheduleService.adoptedSchedule$ | async"
    [bookedDates]="scheduleService.bookedDates$ | async"
  ></ann-edit-schedule>
</div>

<div class="section appointments">
  <h3 class="section-title subtitle black">Booked appointments</h3>
  <ann-appointments
    [appointments]="(appointmentService.getAppointments('1') | async) || []"
    (decline)="onDeclineAppointment($event, declineAppointmentRef)"
  ></ann-appointments>
</div>

<ng-template #declineAppointmentRef let-context>
  @if(appointmentToDecline) {
  <div class="confirm-content">
    <p class="text medium">
      Service:
      <span class="text gray">{{ appointmentToDecline.service.name }}</span>
    </p>
    <p class="text medium">
      Date:
      <span class="text gray">{{ appointmentToDecline.timestamp | date }}</span>
    </p>
  </div>
  }

  <button
    class="confirm"
    appearance="whiteblock"
    [size]="isMobile() ? 's' : 'm'"
    tuiButton
    (click)="
      context.complete(); declineAppointment(appointmentToDecline?.id || '')
    "
  >
    Confirm
  </button>
</ng-template>
