<nav class="main-nav" [style.width]="'100%'" tuiNavigationNav>
  <tui-tabs [style.width]="'100%'">
    <button tuiTab>Info</button>
    <button tuiTab>History</button>
  </tui-tabs>

  <hr />

  <button tuiTab>Log out</button>
</nav>

<div class="main">
  <div class="content">
    <div tuiMode="onDark" tuiSurface class="blur">
      <div class="avatar-control">
        <tui-avatar [size]="'xxl'" [src]="avatarControl.value"></tui-avatar>
        <div class="update-avatar">
          <button
            class="button-add"
            (click)="filePicker.click()"
            iconLeft="tuiIconPlus"
            tuiButton
          >
            <!-- + -->
          </button>
          <input #filePicker type="file" (change)="loadAvatar($event)" />
        </div>
      </div>
      @if(isMobile()) {
      <h3 class="title">Alex Inkin</h3>
      }
      <div class="user-data">
        @if(!isMobile()) {
        <h3 class="title">Alex Inkin</h3>
        }

        <h3 class="subtitle black">Your data</h3>
        <p class="text gray">
          Add information to apply for service in one click
        </p>
        <ann-user-data-form class="user-form"></ann-user-data-form>
      </div>
    </div>

    <div class="section">
      <h3 class="subtitle black">Favorite masters (in-develop)</h3>
      <p class="text">You can add your favorite masters</p>

      <ann-favorite-masters></ann-favorite-masters>
    </div>
  </div>
</div>
