@import "../../styles/typography.scss";

.content {
  width: max-content;

  .avatar-control {
    position: relative;

    .update-avatar {
      position: absolute;
      bottom: 0;
      right: 0;

      button {
        width: 30px;
        height: 30px;
        padding: 0;
        border-radius: 50%;
      }

      input {
        opacity: 0;
        visibility: hidden;
        width: 1px;
        height: 1px;
      }
    }
  }
}

.main {
  display: flex;
}

.blur {
  background-image: url("/assets/images/restaurant-2.jpg");
  border-radius: 16px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1;
  column-gap: 20px;

  &:before {
    backdrop-filter: blur(16px);
  }
}

.user-form {
  display: block;
  width: 600px;
}

// Mobile

:host.mobile {
  .main-nav {
    position: sticky;
    left: 0;
  }

  .blur {
    display: grid;

    grid-template-areas: "avatar name" "form form";
    grid-template-columns: max-content 1fr;
    row-gap: 30px;
    align-items: center;
  }

  .content {
    padding: 10px 20px;
    width: 100%;
  }

  .avatar-control {
    display: grid;
    grid-area: avatar;
  }

  .title {
    display: grid;
    grid-area: name;
  }

  .user-data {
    display: grid;
    grid-area: form;
  }

  .user-form {
    margin-top: 20px;
    width: 100%;
  }
}
