<div class="section services">
  <div class="section-header">
    <h2 class="title-2 align-left" i18n>Select service</h2>
    <h2 class="subtitle" i18n>
      Description about services. A couple of sentences about provided services.
    </h2>
  </div>

  <ann-service-item
    [disabled]="requestInProgress"
    [services]="services"
    [formControl]="serviceControl"
  ></ann-service-item>
</div>

<div class="section">
  <div class="section-header">
    <h2 class="title-2 align-left" i18n>Select date</h2>
    <h2 class="subtitle" i18n>
      Description about date. A couple of sentences about available dates.
    </h2>
  </div>

  <div class="date-time-control">
    <tui-calendar
      class="date-control"
      [ngClass]="{ selected: availableTimesForSelectedDay.length > 0 }"
      [disabledItemHandler]="
        requestInProgress ? disabledAllItemsHandler : disabledItemHandler
      "
      [value]="selectedDay"
      (dayClick)="onDayClick($event)"
    ></tui-calendar>

    @if(!isMobile()) {
    <ng-container *ngTemplateOutlet="timePickerRef"></ng-container>
    } @else if (timeControl.value) {
    <div class="selected-time-container">
      <span class="text gray" i18n>Selected time</span>
      <span class="text bold" i18n>{{ timeControl.value | json }}</span>
    </div>
    }
  </div>
</div>

<div class="section contacts">
  <div class="section-header">
    <h2 class="title-2 align-left" i18n>Type your contacts</h2>
    <h2 class="subtitle" i18n>
      Description why you should give us your contacts. A couple of sentences
      about why you should do it.
    </h2>
  </div>

  <tui-input
    #usernameControlRef
    [tuiTextfieldSize]="isMobile() ? 'm' : 'l'"
    [required]="true"
    [readOnly]="requestInProgress"
    [disabled]="requestInProgress"
    class="control"
    [formControl]="userNameControl"
  >
    Type a name / email / IG
    <input tuiTextfield type="email" />
  </tui-input>

  <tui-input-phone-international
    [tuiTextfieldSize]="isMobile() ? 'm' : 'l'"
    [readOnly]="requestInProgress"
    [disabled]="requestInProgress"
    class="control"
    [formControl]="phoneControl"
    [countries]="(countries | tuiSortCountries | async) || []"
    [(countryIsoCode)]="countryIsoCode"
    i18n
  >
    Type your number
  </tui-input-phone-international>

  <tui-textarea
    [tuiTextfieldSize]="isMobile() ? 'm' : 'l'"
    [style.min-height.px]="responsiveSettings.textArea.height"
    [readOnly]="requestInProgress"
    [disabled]="requestInProgress"
    class="comment"
    [formControl]="commentControl"
    i18n
  >
    Type a comment
  </tui-textarea>
</div>

@if(serviceControl.valid && dayControl.valid && timeControl.valid) {
<div class="summary">
  <p class="text bold">
    Service:
    <span class="gray">{{ serviceDetails[serviceControl.value].name }}</span>
  </p>
  <p class="text bold">
    Date:
    <span class="gray">{{ dayControl.value }} | {{ timeControl.value }}</span>
  </p>
</div>
}

<div class="notify">
  <h5 class="text">Select notify options</h5>

  <ul tuiGroup class="group options">
    @for(control of notifyViaControl.controls | keyvalue; track control.key) {
    <tui-checkbox-block
      [disabled]="requestInProgress"
      [hideCheckbox]="true"
      [readOnly]="requestInProgress"
      [title]="control.key"
      contentAlign="right"
      [formControl]="control.value"
      size="s"
    >
      {{ control.key }}
    </tui-checkbox-block>
    }
  </ul>
</div>

<button
  tuiButton
  [disabled]="formModel.invalid || requestInProgress"
  [appearance]="'whiteblock'"
  [size]="isMobile() ? 'm' : 'l'"
  [style.width.px]="160"
  type="button"
  [icon]="requestInProgress ? loaderRef : null"
  (click)="submit()"
>
  Submit
</button>

<ng-template #loaderRef>
  <tui-svg class="loader" [src]="loader"></tui-svg>
</ng-template>

<ng-template #timePickerRef>
  <div
    class="times-control"
    [ngClass]="{ visible: availableTimesForSelectedDay.length > 0 }"
  >
    @if(!isMobile()) {
    <div class="header">
      <h3 class="title" i18n>Available times</h3>
      <h4 class="subtitle" i18n>Choose a time for service</h4>
    </div>
    }

    <tui-scrollbar class="box">
      @for(time of availableTimesForSelectedDay; track time) {
      <tui-radio-labeled
        [pseudoDisabled]="requestInProgress"
        [formControl]="timeControl"
        class="tui-space_bottom-3"
        [item]="time"
      >
        {{ time }}
      </tui-radio-labeled>
      }
    </tui-scrollbar>
  </div>
</ng-template>

<ng-template
  let-observer
  [tuiDialogOptions]="{ label: 'Select time', size: 's' }"
  [(tuiDialog)]="isTimePickerOpen"
>
  <ng-container *ngTemplateOutlet="timePickerRef"></ng-container>
</ng-template>
