@import "../../../styles/typography.scss";
@import "../../../styles/controls.scss";

:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  counter-reset: count;

  .loader {
    width: 1rem;
    height: 1rem;
  }

  &:not(._e2e) .loader {
    animation: rotating 1.5s linear infinite;
  }
}

// Common

.section {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  row-gap: 10px;
  counter-increment: count;

  .section-header {
    position: absolute;
    left: 12%;
    transform: translate(-100%, 0);
    top: -5%;
  }

  &::before,
  &::after {
    position: absolute;
    left: 15%;
    top: 0%;
  }

  &::before {
    content: "";

    bottom: 0;
    width: 1px;
    height: 110%;
    background-color: rgb(200, 200, 200);
  }

  &::after {
    content: counter(count, decimal);

    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgb(200, 200, 200);
    background-color: #fff;
  }

  &:not(:last-child) {
    border-bottom: 1px solid rgb(200, 200, 200);
    padding-bottom: 30px;
  }
}

.control,
.comment {
  width: 400px;
}

// Services

.services {
  display: flex;
  position: relative;
}

.option {
  height: auto;

  .content {
    display: flex;
    width: 400px;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 0;
  }

  label {
    column-gap: 10px;
  }

  &:hover {
    transform: none;
  }
}

// Calendar

.date-time-control {
  display: flex;

  .date-control {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 20%;
      transform: translateY(-15%);
      height: 85%;
      width: 1px;
      background-color: rgb(200, 200, 200);
      opacity: 0;
      transition: all 0.3s;
    }

    &.selected::after {
      opacity: 1;
    }
  }

  .times-control {
    opacity: 0;
    padding: 16px 18px;
    visibility: hidden;
    transition: all 0.3s;

    .box {
      height: 200px;
      padding: 0 0.6875rem;
      overflow: auto;
    }

    .header {
      position: relative;
      margin-bottom: 35px;

      &::after {
        content: "";
        display: block;
        margin-top: 5px;
        height: 1px;
        background-color: rgb(200, 200, 200);
      }
    }

    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }
}

// Notifications

.notify {
  display: flex;
  flex-direction: column;
  align-items: center;

  .text {
    margin-bottom: 15px;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Mobile

:host.mobile {
  .section {
    width: 95%;
    gap: 0;

    &::before {
      content: none;
    }

    &::after {
      left: 0;
      top: 5%;
      transform: translate(0, -50%);
      transform: none;
    }

    .section-header {
      position: relative;
      left: 0;
      top: 0;
      transform: none;
      margin: 0 0 30px 60px;
    }
  }

  .control,
  .comment {
    width: 268px;
  }

  .option {
    .content {
      width: 300px;
      padding: 8px 0;
    }
  }

  .date-control::after {
    content: none;
  }

  .date-time-control {
    flex-direction: column;
  }

  .section.contacts {
    row-gap: 10px;
  }

  .selected-time-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
  }
}
