:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  counter-reset: count;
}

// card option
.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
}

.section {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1000px;
  row-gap: 10px;
  counter-increment: count;

  &::before,
  &::after {
    position: absolute;
    left: 4%;
    top: 10%;
  }

  &::before {
    content: "";

    bottom: 0;
    width: 1px;
    height: 110%;
    background-color: rgb(200, 200, 200);
  }

  &::after {
    content: counter(count, decimal);

    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgb(200, 200, 200);
    background-color: #fff;
  }

  &:not(:last-child) {
    border-bottom: 1px solid rgb(200, 200, 200);
    padding-bottom: 30px;
  }
}

.date-time-control {
  display: flex;

  .date-control {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 20%;
      transform: translateY(-15%);
      height: 85%;
      width: 1px;
      background-color: rgb(200, 200, 200);
      opacity: 0;
      transition: all 0.3s;
    }

    &.selected::after {
      content: "";
      position: absolute;
      right: 0;
      top: 20%;
      transform: translateY(-15%);
      height: 85%;
      width: 1px;
      opacity: 1;
      background-color: rgb(200, 200, 200);
    }
  }

  .times-control {
    opacity: 0;
    padding: 16px 18px;
    visibility: hidden;
    transition: all 0.3s;

    .header {
      position: relative;
      margin-bottom: 35px;

      &::after {
        content: "";
        display: block;
        margin-top: 5px;
        height: 1px;
        background-color: rgb(200, 200, 200);
      }
    }

    .title {
      font: var(--tui-font-text-l);
      font-weight: 700;
    }

    .subtitle {
      font: var(--tui-font-text-s);
      font-weight: 500;
      color: rgb(133, 133, 133);
    }

    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }
}

.option {
  height: auto;

  .content {
    display: flex;
    width: 400px;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 0;
  }

  .title {
    font: var(--tui-font-text-m);
    font-weight: 600;
  }

  .subtitle {
    font: var(--tui-font-text-s);
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: space-between;
  }

  label {
    column-gap: 10px;
  }

  &:hover {
    transform: none;
  }
}

.control,
.comment {
  width: 600px;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:host {
  .loader {
    width: 1rem;
    height: 1rem;
  }

  &:not(._e2e) .loader {
    animation: rotating 1.5s linear infinite;
  }
}
